/*
 * Assignment 02
 * CSS FILE
 */

 body {
  font-family: Arial, Helvetica, sans-serif;
  background-image:linear-gradient(to right top, #fbc2eb, #a6c1ee, #6ec6e3, #4ec7d7, #55c6c9, #5cc4b9, #5fc2a8, #5ebf97, #5ebf97, #5ebf97, #5ebf97, #5ebf97);
  color: #242121;
  font-size: 1.5rem;
  line-height: 1.3;
}



header{

  background-color: lightgrey;
  color: black;
  padding: 2rem;
  text-align: left;
  margin: 2rem;
  border-radius: 2rem;
  
}
main h1{
 background-color:lightgrey;
  color: black;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
}
main .a-text{
  background-color: lightgrey;
  color: black;
  padding: 0rem;
  margin: 1rem;
  text-align:left;
  text-decoration:none;
  border-radius: 2rem;
;
}
main .b-text{
  background-color: lightgrey;
  border-radius: 2rem;
  color: black;
  padding: 2rem;
  margin: 1rem;
}

main .sign-up{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightslategray;
  color: black;
  padding: 2rem;
  text-align: center;
  margin: 1rem;
  border-radius: 2rem;
  

  
}
.button{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  border-radius: 0.5rem;
}

footer  {
 background-color: lightgrey;
  color: black;
  padding: 2rem;
  text-align: left;
  margin: 1rem;
  border-radius: 2rem;
 
}

